<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTest"
        tools:targetApi="31">
        <activity
            android:name=".AllStudentsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AdminProfile"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TestHistory"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TestsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PassingTestActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuestionActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuestionSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterAdmin"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginStudentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginTeacherActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RegisterStudentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RegisterTeacherActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".StudentProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".TeacherProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateTestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RoomCodeActivity" />
        <activity android:name=".RoomHistoryActivity"/>
        <activity android:name=".CompletedTestActivity" />
        <activity android:name=".TestResultsActivity" />
        <activity android:name=".AllTeacherActivity" />
        <activity android:name=".AllTestsActivity" />
        <activity android:name=".TestDetailActivity" />
        <activity android:name=".QuestionListActivity" />
        <activity android:name=".ReportActivity" />
        <activity android:name=".AllReportsActivity" />
        <activity android:name=".ReportDetailActivity" />
        <activity android:name=".MessagesActivity" />

    </application>

</manifest>